body, *{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Quicksand', sans-serif; }
body{ background: #3498db0a; }
.main-container{ padding: 50px; }
.container{ max-width: 1200px; width: 100%; margin: 0 auto; padding: 0 15px; }
/* Heading */
.heading{ text-align: center; margin-bottom: 50px; text-align: center;}
h2{
    margin: 20px 0;
    text-align: center;
}
/* Content */
.text-center-content{ text-align: center;}



.grid-one,.grid-two {
    background: #333;
    padding: 10px;
}

.grid-one .grid-item {
    max-width: calc(33.33% - 15px);
    width: 100%;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.grid-two .grid-item {
    width: 370px;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}
